html {
  --color-main: #3d899c;
  --color-bg-default: #eee;
  --color-bg-bars: #f1f1f1;
  --color-bg-content: #fff;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  z-index: 256;
  background-color: var(--color-main);
  border-bottom: 5px solid var(--bs-yellow);
}

.navbar-brand {
  padding-left: 20px;
}

.nav-link {
  display: block;
  padding: .5rem .8rem;
}
